@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #D6D58E, #DBF227);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5d680cb7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #005C53;
    text-align: center;
    text-shadow: 1px 1px 2px #03463fd0;
}

h2{
    color: #9FC131;
}

p{
    text-align: justify;
}